@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  transition: 0.3s ease;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111;
}

.container {
  width: 20%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

h1 {
  color: #fff;
  padding-bottom: 20px;
}

h1 span {
  color: #f7114e;
}

.solid {
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
}

.solid:hover {
  border-color: #f7114e;
  border-style: solid;
}

h4 {
  color: #f7114e;
  margin-bottom: -10px;
  font-weight: 400;
}

.dotted {
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
}

.dotted:hover {
  border-color: #f7114e;
  border-style: dotted;
}

.dashed {
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
}

.dashed:hover {
  border-color: #f7114e;
  border-style: dashed;
}

.double {
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
}

.double:hover {
  border-color: #f7114e;
  border-style: double;
}

.grove {
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
}

.grove:hover {
  border-color: #f7114e;
  border-style: groove;
}

.mixed {
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
}

.mixed:hover {
  border-color: #f7114e;
  border-style: dotted dashed solid double;
}
